.bike-types {
  padding: 150px 0 80px;

  background-color: $bg-light-grayish-blue;
}

.bike-types__inner {
  max-width: 1400px;
  margin: 0 auto;
}

.bike-types__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bike-types h2 {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-right: 10px;

  @include desktop-title;
  text-align: center;
}

.bike-types__item h3 {
  margin: 0;
  margin-top: 22px;

  @include font-semibold;
  @include text-size(22px, 1.55);
  text-align: center;
  letter-spacing: -0.5px;
}


.bike-types__item img {
  display: block;

  border-radius: 10px;

  transition: all 0.5s ease-in-out;
}

.bike-types__item {
  z-index: 1;

  margin-bottom: 50px;
  box-sizing: content-box;
  width: 24.5%;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &--road {
    padding-left: 60px;
  }

  &--mountain {
    padding: 18px 19px;
    margin-top: 10px;
  }

  &--kids {
    padding-top: 32px;
    padding-right: 36px;
    margin-top: -41px;
  }
}

.bike-types__link {
  display: block;
  position: relative;
  z-index: 1;
  box-sizing: content-box;

  color: $color-black;


  &--road {
    &::after {
      z-index: -1;

      @include pseudo-bike-types(31%, -60px, 180px, 180px, 27px solid $bg-vivid-cyan, 50%);

      box-sizing: border-box;
    }
  }

  &--mountain {
    &::before {
      z-index: 1;

      @include pseudo-bike-types(-18px, -19px, 47px, 47px, 8px solid $bg-vivid-cyan, 0);

      box-sizing: border-box;
    }

    &::after {
      z-index: 1;

      @include pseudo-bike-types(auto, auto, 47px, 47px, 8px solid $bg-vivid-cyan, 0);
      bottom: -25px;
      right: -25px;

      box-sizing: border-box;
    }
  }

  &--kids {
    &::after {
      @include pseudo-bike-types(-32px, auto, 95px, 95px, 17px solid $bg-vivid-cyan, 50%);
      right: -36px;

      box-sizing: border-box;
    }
  }
}

.bike-types__link:hover img {
  transform: scale(1.05);
}

.bike-types__link:active img {
  transform: scale(0.95);
}

@media (max-width: $tablet-width) {
  .bike-types {
    padding: 50px 5% 55px;
  }

  .bike-types__item {
    margin-bottom: 15px;
    width: 270px;

    &:not(:last-child) {
      margin-right: 5.2%;
    }

    &:nth-child(2n) {
      margin-left: 13px;
    }

    &--road {
      padding-left: 37px;
    }

    &--mountain {
      padding: 0;
      margin-top: 0;
    }

    &--kids {
      margin-top: 0;
      padding-right: 0;
    }
  }

  .bike-types__link {
    &--road {
      &::after {
        top: auto;
        left: -38px;
        bottom: -27px;

        width: 127px;
        height: 127px;
        box-sizing: border-box;

        border-width: 18px;
      }
    }

    &--mountain {
      &::before,
      &::after {
        display: none;
      }
    }

    &--kids {
      &::after {
        top: -18px;
        right: -25px;

        box-sizing: border-box;

        width: 68px;
        height: 68px;
        border-width: 13px;
      }
    }
  }

  .bike-types h2 {
    padding-right: 0;
    margin-bottom: 30px;

    @include text-size(24px, 1.71);
  }
}

@media (max-width: $mobile-width) {
  .bike-types {
    padding-bottom: 15px;
  }

  .bike-types__list {
    flex-direction: column;
    align-items: center;
  }

  .bike-types__item {
    margin-bottom: 40px;

    &:not(:last-child) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-left: 0;
    }

    &--road {
      padding-left: 0;
    }

    &--kids {
      padding-top: 0;
    }
  }

  .bike-types__link {
    &--road {
      &::after {
        left: -25px;
      }
    }

    &--kids {
      &::after {
        top: -20px;
        right: -15px;
      }
    }
  }

  .bike-types h2 {
    width: 100%;
  }
}
