.directions {
  padding: 76px 72px 0;
  margin: 0 auto;
}

.directions h2 {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 31px;
  padding-right: 10px;

  @include desktop-title;
  text-align: center;
}

.directions p {
  width: 555px;
  margin: 0 auto;
  margin-bottom: 41px;
  padding-right: 15px;

  @include font-normal;
  @include text-size(17px, 1.82);
  text-align: center;
  color: rgba($color-black, 0.7);
}

.directions__map {
  width: 957px;
  height: 530px;
  margin: 0 auto;

  background-color: #e6e6e6;
  background-image: url("../img/map-desktop@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-desktop@2x.jpg");
  }
}

.directions__map img {
  display: block;
}

@media (max-width: $tablet-width) {
  .directions {
    padding: 35px 4.55% 0;
    width: 100%;
  }

  .directions h2 {
    padding-right: 0;
    margin-bottom: 21px;

    @include text-size(24px, 1.25);
  }

  .directions p {
    padding-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .directions__map {
    width: 698px;
    height: 545px;

    background-color: #e6e6e6;
    background-image: url("../img/map-tablet@1x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .directions {
    padding-left: 0;
    padding-right: 0;
  }

  .directions h2 {
    width: 80%;

    @include text-size(18px, 1.67);
  }

  .directions p {
    width: 80%;
  }

  .directions__map {
    width: 100%;
    height: 250px;

    background-color: #e6e6e6;
    background-image: url("../img/map-mobile@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }
}
