.feedback {
  padding: 47px 0 30px;
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.feedback legend {
  margin-bottom: 20px;
  width: 331px;

  @include font-semibold;
  @include text-size(17px, 1.65);
  text-align: center;
  letter-spacing: -0.005em;
  color: $color-white;
}

.feedback__field input {
  width: 327px;
  padding: 12px 30px 10px;

  @include font-normal;
  @include text-size(15px, 1.6);
  color: rgba($graphite-black, 0.5);
  font-family: $main-font;

  background-color: $bg-input;
  border: $border-input;
  border-radius: 6px;

  &:hover,
  &:active {
    background-color: #f6f6f6;
  }

  &:active:invalid {
    background-color: #ffa07a;
    border-radius: 6px;
  }
}

.feedback__field:not(:last-child) input {
  margin-bottom: 20px;
}

.feedback__button {
  padding: 16px 44px 14px 48px;
  margin-top: 20px;
  width: 326px;

  @include font-semibold;
  @include text-size(15px, 1.4);
  text-align: center;
  font-family: $main-font;

  border: none;
  border-radius: 6px;
  background-color: $bg-vivid-cyan;

  cursor: pointer;

  &:hover,
  &:active {
    background-color: $grayish-blue;
  }
}


@media (max-width: $tablet-width) {
  .feedback {
    padding-top: 70px;
    padding-bottom: 35px;
    width: 324px;
    margin: 0 auto;
  }

  .feedback legend {
    padding: 0;
    margin-bottom: 30px;
    width: 324px;

    @include font-semibold;
    @include text-size(18px, 1.56);
    text-align: center;
    color: $color-black;
  }

  .feedback__field input {
    padding: 11px 21px;
    width: 321px;
  }

  .feedback__button {
    width: 321px;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    max-width: 357px;
  }

  .feedback legend {
    width: auto;
    margin-bottom: 20px;
  }

  .feedback__field input {
    padding: 12px 26px 10px;
    width: 100%;
  }

  .feedback__button {
    padding: 15px 30px;
    width: auto;
  }
}
