.page-footer {
  width: 558px;
  margin: 0 auto;
  padding-bottom: 96px;
  padding-top: 35px;
}

.page-footer__contacts {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__item {
  position: relative;

  padding-left: 37px;

  &--phone {
    padding-right: 13px;
  }
}

.page-footer__icon {
  position: absolute;

  top: 0;
  left: 0;

  &--mail {
    top: 6px;
    left: -4px;
  }

  &--phone {
    top: 2px;
  }
}

.page-footer__link {
  @include font-normal;
  line-height: 2;
  color: rgba(0, 0, 0, 0.5);
}

.page-footer__link:hover {
  color: rgba($color-black, 1);
}

.page-footer__link:hover .page-footer__icon--phone path {
  stroke: rgba(0, 0, 0, 1);
  fill: none;
}

.page-footer__link:hover .page-footer__icon--mail path {
  fill: rgba(0, 0, 0, 1);
}

.page-footer__link:active {
  color: rgba($color-black, 0.8);
}

.page-footer__link:active .page-footer__icon--phone path {
  stroke: rgba(0, 0, 0, 0.8);
  fill: none;
}

.page-footer__link:active .page-footer__icon--mail path {
  fill: rgba(0, 0, 0, 0.8);
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-bottom: 52px;
    padding-top: 18px;
    width: 72%;
  }

  .page-footer__item {
    &--phone {
      padding-right: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 27px;
    padding-bottom: 36px;
    width: 83.75%;
  }

  .page-footer__link {
    line-height: 1.37;
  }

  .page-footer__contacts {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__item {
    &--mail {
      padding-left: 45px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--phone {
      padding-right: 15px;
    }
  }


  .page-footer__icon {
    &--phone {
      top: -2px;
    }

    &--mail {
      left: 5px;
    }
  }
}

