.page-footer {
  width: 558px;
  margin: 0 auto;
  padding-bottom: 96px;
  padding-top: 35px;
  flex-shrink: 0;
}

.page-footer__contacts {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__item {
  position: relative;

  padding-left: 37px;

  &--mail {
    &::before {
      @include pseudo(6px, -4px, 26px, 20px);

      background-image: url("../img/mailto-icon.svg");
    }
  }

  &--phone {
    padding-right: 13px;

    &::before {
      @include pseudo(2px, 0, 22px, 23px);

      background-image: url("../img/phone-icon.svg");
    }
  }
}

.page-footer__link {
  @include font-normal;
  line-height: 2;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba($color-black, 1);
  }

  &:active {
    color: rgba($color-black, 0.8);
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-bottom: 52px;
    padding-top: 18px;
    width: 72%;
  }

  .page-footer__item {
    &--phone {
      padding-right: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 27px;
    padding-bottom: 36px;
    width: 83.75%;
  }

  .page-footer__link {
    line-height: 1.37;
  }

  .page-footer__contacts {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__item {
    &--mail {
      padding-left: 45px;

      &::before {
        left: 5px;
      }
    }

    &--phone {
      padding-right: 15px;

      &::before {
        top: -2px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }
}
