@mixin font-light {
  font-weight: 300;
}

@mixin font-normal {
  font-weight: 400;
}

@mixin font-semibold {
  font-weight: 600;
}

@mixin font-bold {
  font-weight: 700;
}

@mixin text-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin desktop-title {
  @include font-semibold;
  @include text-size(30px, 1);
  letter-spacing: -0.005em;
  color: $color-title;
}

@mixin pseudo ($top, $left, $width, $height) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin pseudo-content ($content, $top, $left, $color) {
  content: $content;
  position: absolute;
  top: $top;
  left: $left;
  color: $color;
}

@mixin pseudo-bike-types ($top, $left, $width, $height, $border, $border-radius) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  border: $border;
  border-radius: $border-radius;
}
